<!DOCTYPE html>

<html>

<head>
    <title>404 Error</title>
    <link rel="icon" href="/img/719129_orig.png">

    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{message}}</p>
    </div>
    {{>footer}}
</body>



</html>
