<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/719129_orig.png">

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p> <img class="portrait" src="/img/pic1.jpeg"></p>
        <p>My name is {{name}} and I created this website to test Node.js using the WeatherStack API.</p>
    </div>

    {{>footer}}
</body>

</html>
