<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/719129_orig.png">

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>{{message}}{{email}}</p>
    </div>
    <form>

    </form>
    {{>footer}}
</body>


</html>
